body
{
    font-family: Monotype Corsiva;
    font-size: 24px;
}
#quiz 
{
	margin-left: 10px;
	background: rgb(64, 64, 138);
	padding: 10px 20px 10px 20px;
    width: 500px;
    color:white;
    border-radius: 40px;
    float:left;
}
h1
{
    margin-left: 135px;
}
#q
{
    border-radius: 20px;
    border: none;

}
#button
{
    background-color:lavender;
    color:rgb(92, 18, 92);
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	margin-top: 15px;
}
#button:hover
{
    background-color: green;
    color:white;

}
#after
 {
	visibility: hidden;
	background: grey;
	padding: 10px 20px 10px 20px;
    width: 500px;
    height: 470px;
    border-radius: 40px;
    float: left;
	margin-left: 50px;
	font-size: 30px;


}

#pic
{
	width: 375px;
	height: 245px;
}


@media(max-width: 1160px)
{
  #after{
    margin-top: 550px;
    float: left;
    margin-left: -535px;
  }

}
